table {
  border-collapse: collapse;
  width: 60%;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.currency-names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#list {
  text-align: center;

  select {
    width: 140px;
    height: 50px;
    font-size: 30px;
  }
  option {
    text-align: center;
  }
}
